.App {
  text-align: center;
}

::placeholder {
  text-align: center;
}

#ravenousHeader {
  background-color: chocolate;
  height: 50px;
  width: fill;
  position: fixed;
  margin: 0px;
}

.searchBar {
  height: 250px;
  position: relative;
  top: 60px;
  background-color: aqua;
}

.sbSelector {
  display: inline-block;
  height: 80px;
  width: 60%;
  margin-bottom: 30px;
}

.sbSelectorButton {
  border: 0px none transparent;
  border-bottom: 3px solid black;
  background-color: transparent;
  height: 60px;
  margin: auto 10px;
}

.sbTextWrapper {
  height: 60px;
}

.sbTextInput {
  height: 40px;
  width: 300px;
  margin: 10px 30px;
  background-color: transparent;
  border: 3px solid black;
}

.sbSubmit {
  border: 0px none transparent;
  border-bottom: 3px solid black;
  background-color: transparent;
  height: 30px;
  width: 100px;
  margin-top: 50px;
}
